#Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.venv/
venv/

#Project Local
.env
env/
secrets/
data/
pg_data/
node_modules/
dist/
build/

#VCS/IDE
.git
.gitignore
.vscode/
.idea/
.DS_Store

.history/

.history/
